 .loader{
  display: flex;
  flex-direction: column;
  width: 80%;

 }

 .loader hr{
  color: aqua;
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right ,#9ed7ff ,#fff, #9ed7ff);background-size: 800px 50px;
  height: 20px;
  animation: loader 2s linear infinite;
 }
 @keyframes loader{
0%{
  background-position: -800px 0px;
}
100%{
  background-position: 
  800px 0px;
}
 }